# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List common tools used in Data Science
- Demonstrate basic arithmetic operations in Python
- Convert time units (minutes to hours)

Some of the popular languages that Data Scientists use are:

1. **Python**
2. **R**
3. **SQL**

Some of the commonly used libraries used by Data Scientists include:

1. **Pandas**
2. **Numpy**
3. **Scipy**

| Data Science Tools |
| -------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
minutes=200
hours=minutes/60
hours

3.3333333333333335

## Author

Anshul Sethiya